//Color Cube

$whiteColor: #fefefe;
$blackColor: #010101;
$tundoraColor: #424242;
$gunsmokeColor: #858786;
$ecstasyColor: #f76210;
$goldendreamColor: #efd43f;
$magicmintColor: #95f1be;
$turquoiseColor: #30cfc3;
$persianblueColor: #223bcb;
$limaColor: #78e733;
$whiteColor: #fefefe;

//Median Cut

$graynurseColor: #e3e4e2;
$sharkColor: #1b1c1d;
$spicymixColor: #875f4a;
$sundanceColor: #c8af56;
$puertoricoColor: #38c3a0;

//Material Design

$tangoColor: #eb621f;
$flaxsmokeColor: #7e876a;
$ceruleanblueColor: #2455b0;
$nandorColor: #495653;
$starshipColor: #ece046;

//My color items

.orange{
    color: #f76210;
}